{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="assets/css/connexion.css">
    {% endblock %}

{% block body %}

<form action="" method="post" class="form_connexion">
    <h1 class="connexion">Connexion</h1>
    <div class="container_connexion">
        
        <label class="label_connexion" for="inputEmail"><b>Adresse Email</b></label>
        <input class="input_connexion" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Entrer votre e-mail" required autofocus>
        <label class="label_connexion" for="inputPassword"><b>Mot de passe</b></label>
        <input class="input_connexion" type="password" placeholder="Entrer votre Mot de Passe" name="password" id="inputPassword" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button  type="submit" class="button_connexion">Connexion</button>

        <div class="input_rester">
            <input  class="input_con"type="checkbox" name="Rester_connecte">
            <label class="input_con" for="">Rester connecté</label>
            <label class="input_con"><a href="#">Mot de passe oublié</a></label>
        </div>

    </div>
</form>

{# <footer>
    <div class="copyright">
        <div class="div_copy">
            <ul class="ul_copy">
                <li>Copyright &copy 2021</li>
                <li>Groupe 3: Amine, Lylia, Patrick</li>
            </ul>
        </div>
    </div>
</footer> #}

{% endblock %}
