{% extends 'base.html.twig' %}

{% block body %}
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">{{ category.nom }}</h3>
            <p class="card-text">{{ category.description }}</p>
        </div>
    </div>
    
    <div class="card card-outline-secondary my-4">
        <div class="card-header">Actions</div>

        <div class="card-body">
            <a href="{{ path('edit-category', {id: category.id}) }}" class="btn btn-success">Modifier</a>
            <a href="{{ path('delete-category', {id: category.id}) }}" class="btn btn-danger">Supprimer</a>
        </div>
    </div>   
{% endblock %}