.container_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.shop-item {
  background-color: rgb(148, 121, 30);
  width: 250px;
  height: auto;
  border: 1px solid;
  border-radius: 5px;
  padding: 1%;
  margin: 3%;
  box-shadow: 10px 5px 5px grey;
}

.container-img {
  width: 100%;
}

.img_article{
  border-radius: 15px;
}

.container-img > img {
  width: 100%;
}

.nom_prix1 {
  padding: 5px;
  text-align: center;
}

.nom_prix1 a {
  text-decoration: none;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  color: #ffd480;
}

.nom_prix2 {
  padding: 5px;
  border: 1px solid;
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: brown;
  color: wheat;
  border-radius: 5px;
}
