 <footer>
      <div class="liste_footer">
          <div class="container_list">
              <ul class="list">
                  <li><a href="#">Miels</a></li>
                  <li><a href="#">Epicerie fine</a></li>
                  <li><a href="#">Bien-être</a></li>
                  <li><a href="#">Coffrets Cadeaux</a></li>                  
              </ul>
          </div>
          <div class="container_list">
              <ul class="list">
                  <li><a href="#">Qui-sommes nous?</a></li>
                  <li><a href="#">Livraison et retours</a></li>
                  <li><a href="#">Paiment sécurisé</a></li>
                  <li> <a href="#">Mentions légales et CGV</a></li>
              </ul>
          </div>
          <div class="container_list">
              <ul class="list">
                  <li><a href="#">Mon profil</a></li>
                  <li><a href="#">Commandes</a></li>
                  <li><a href="#">Mise à l'écart</a></li>
                  <li><a href="#">Contact</a></li>                    
              </ul>
          </div>
      </div>
      <div class="copyright">
          <div class="div_copy">
              <ul id="ul_copy">
                  <li>Copyright &copy 2021</li>
                  <li>Groupe 3: Amine, Lylia, Patrick</li>
              </ul>
          </div>
      </div>

    </footer>

    {% block javascripts %}
      <script src="assets/js/menu.js" ></script>
      <script src="assets/js/panier.js" ></script>
      <script src="assets/js/search.js" ></script>
      <script src="assets/js/scroll.js"></script>
      <script src="https://kit.fontawesome.com/6e1e5f7faa.js" crossorigin="anonymous"></script>    
    {% endblock %}

  </body>
</html>
