{% extends 'home.html.twig' %}

{% block title %}Compte{% endblock %}

 {% block body %}
     <div class="container_flex">
        <div class="contact_container">
  
          <label   for="nom"><b>Nom</b></label>
          <input   type="text" placeholder="Entrer votre Nom" name="nom" required>
      
          <label for="prénom"><b>Prénom</b></label>
          <input class="contact_input" type="text" placeholder="Entrer votre Prénom" name="prénom" required>

          <label for="telephone"><b>Téléphone</b></label>
          <input  type="text" name="telephone">

         <label for="date">Date de naissance</label>
         <input type="date" id="date" name="trip-date" value="" min="1910-01-01" max="2070-12-31">
           <br>
           <br>
          <label for="email"><b>Adresse Email</b></label>
          <input  type="text" placeholder="Entrer votre e-mail" name="email" required>
          
          <label for="mdp"><b>Mot de passe</b></label>
          <input  type="text" placeholder="Entrer votre mot de passe" name="mdp" required>

          <label for="confirmation_mdp"><b>Confirmation Mot de passe*</b></label>
          <input  type="text" placeholder="Confirmez votre mot de passe" name="mdp" required>

          <button  type="submit" class="button_submit">Enregistrer <i class="fas fa-paper-plane"></i></button>
  
        </div>

      </div>
  {% endblock %}