{% include 'Header_Footer/header.html.twig' %}

 {% block body %}
    <main>
      <div class="container_main">
          <form action="">
              <ul id="main_list">
                  <li><a href="">Miels</a></li>
                  <li><a href="">Epicerie fine</a></li>
                  <li><a href="">Bien-être</a></li>
                  <li><a href="">Coffrets Cadeaux</a></li>
              </ul>
          </form>
      </div>
      <div>
      </div>
    </main>
 {% endblock %}

 {% include 'Header_Footer/footer.html.twig' %}
    


   